body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9c0c0;
    margin: 0;
    overflow: hidden;
    color: white;
}
#player-name-prompt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
    z-index: 90;
    display: none;
    border: 2px solid #E50914;
}
/* Player number input section */
#player-name-prompt h2 {
    color: #EB257A;
    margin-top: 0;
    font-size: 20px;
} 
/* Ensuring the elements are stacked vertically in the same column */
#player-name-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#player-number {
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 1px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}
#player-name-prompt button {
    background-color: #EB257A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}  
#begin-challenge:disabled {
    background-color: #666;
    cursor: not-allowed;
}
#begin-challenge:hover:enabled {
    background-color: #d62056;
}  
#game-container {
    width: 600px;
    height: 400px;
    background-color: #222;
    border: 1px solid #ff0000;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
    display: none;
}
#player {
    width: 60px;
    height: 80px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-30px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hearts-container {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.heart {
    color: red;
}
#score-display {
    position: absolute;
    top: 10px;
    display: block;
    right: 10px;
    color: #ffccd5;
    font-size: 24px;
    font-weight: bold;
}
#timer-display {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.bullet {
    width: 5px;
    height: 15px;
    background-color: yellow;
    position: absolute;
    border-radius: 2px;
}
.target {
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}