.news-ticker {
    position: relative;
    width: 500px;
    height: 30px;
    left: 5%;
    bottom: 1%;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 40px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
}
.news-ticker span {
    display: inline-block;
    animation: ticker 60s linear infinite;
    color: rgb(235, 47, 47);
    animation-delay: 0s;
    margin-top: auto;
}
@keyframes ticker {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}