.content-container {
    display: flex;
    flex-grow: 1;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 120px 20px 10px 10px;
    box-sizing: border-box;
}
.countdown {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 15px;
    align-items: center;
    justify-items: center;
    width: fit-content;
    margin-left: 50px;
}
.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Game of Squids';
}
.countdown-number {
    background: #EB257A;
    padding: 15px;
    border-radius: 5px;
    font-size: 34px;
    width: 100px;
    text-align: center;
    border: 3px solid #EB257A; /* Neon pink border */
    border-radius: 15px;
    padding: 10px; /* Ensure space around text */
    transition: box-shadow 0.3s ease-in-out;
    background: linear-gradient(135deg, #EB257A, #333); /* Dark gradient background */
    box-shadow: 0 0 15px rgba(235, 37, 122, 0.7); /* Glowing neon effect */
    z-index: 10;
}
.countdown-number:hover {
    border: 3px solid #FF00FF; /* Change to bright neon pink when hovering */
    box-shadow: 0 0 15px rgba(255, 0, 255, 1); /* Stronger glowing neon effect */
}
.countdown-label {
    font-size: 16px;
    color: #EB257A;
    white-space: nowrap;
    text-align: center;
}