.content-container {
    display: flex;
    flex-grow: 1;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 120px 20px 10px 10px;
    box-sizing: border-box;
}
.countdown {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 15px;
    align-items: center;
    justify-items: center;
    width: fit-content;
    margin-left: 50px;
    position: absolute;
    top: 22%; 
    left: 4%;
    margin: 0;
}
.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Game of Squids', sans-serif !important;
}
.countdown-number {
    background: #EB257A;
    padding: 15px;
    border-radius: 5px;
    font-size: 34px;
    width: 100px;
    text-align: center;
    border: 3px solid #EB257A;
    border-radius: 15px;
    padding: 10px;
    transition: box-shadow 0.3s ease-in-out;
    background: linear-gradient(135deg, #EB257A, #333);
    box-shadow: 0 0 15px rgba(235, 37, 122, 0.7);
    z-index: 10;
}

.countdown-number:hover {
    box-shadow: 0 0 15px rgba(255, 0, 255, 1);
    /*animation: morseBlink 1s steps(4, end) infinite;*/ /* 6 seconds for 4 steps */
}

@keyframes morseBlink {
    0%, 100% {
        border-color: #EB257A; /* No border color during this time */
    }
    25% {
        border-color: #FF00FF; /* First dash, 2 seconds */
    }
    50% {
        border-color: #EB257A; /* First dot, 1 second */
    }
    62.5% {
        border-color: #FF00FF; /* Second dot, 1 second */
    }
    75% {
        border-color: #EB257A; /* Third dot, 1 second */
    }
    87.5% {
        border-color: #FF00FF; /* Third dot, 1 second */
    }
}
.countdown-label {
    font-size: 16px;
    color: #EB257A;
    white-space: nowrap;
    text-align: center;
    font-family: 'Game of Squids', sans-serif !important;
}