* { box-sizing: border-box; }

body {
	background: #000;
	margin: 0;
	padding: 0;
}
div.content {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}