* { box-sizing: border-box; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9c0c0;
    margin: 1%;
    color: white;
}

div.content {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}