.video-panel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    border: 2px solid #EB257A;
    padding: 20px;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 800;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /*overflow-x: auto;*/ /* Allow scrolling if needed */
    transition: width 0.3s ease-in-out;
    background: linear-gradient(135deg, #333, #444);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}
.overlay-video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    z-index: 700;
    box-shadow: 0 0 20px rgba(235, 37, 122, 0.5);
}
.hidden {
    display: none !important;
}