body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9c0c0;
    margin: 0;
    color: white;
}
#begin-challenge:disabled {
    background-color: #666;
    cursor: not-allowed;
}
#begin-challenge:hover:enabled {
    background-color: #d62056;
    cursor: url('/assets/cursors/sg-pointer.png') 16 16, auto;
}
#game-container {
    width: 600px;
    height: 400px;
    background-color: #222;
    border: 1px solid #ff0000;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
    display: none;
    border-radius: 10px;
}
#player {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hearts-container {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 7px;
    left: 47%;
    transform: translateX(-50%);
    width: 100px;
    justify-content: center;
}
.heart {
    width: 30px;
    height: 30px;
}
#score-display {
    position: absolute;
    top: 10px;
    display: block;
    right: 10px;
    color: #ffccd5;
    font-size: 24px;
    font-weight: bold;
}
#timer-display {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.buttons-link {
    color: white;
    text-decoration: none;
}
#home-button:hover {
    cursor: url('/assets/cursors/sg-pointer.png') 16 16, auto;
    background-color: #d62056;
}
#challenge-leaderboard:hover {
    cursor: url('/assets/cursors/sg-pointer.png') 16 16, auto;
    background-color: #d62056;
}
.hidden {
    display: none;
}