#player-selector {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
    z-index: 80;
    display: none;
    border: 2px solid #EB257A;
}
#player-selector h2 {
    color: #EB257A;
    margin-top: 0;
}
.player-options {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.player-option {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
}
.player-option:hover, .player-option.selected {
    background-color: rgba(235, 37, 122, 0.5);
    cursor: url('https://i.postimg.cc/br0HSkkW/sg-pointer.png') 16 16, auto;
}
#player-selector button {
    background-color: #EB257A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    opacity: 0.5;
    pointer-events: none;
}
#player-selector button.enabled {
    opacity: 1;
    pointer-events: auto;
    cursor: url('https://i.postimg.cc/br0HSkkW/sg-pointer.png') 16 16, auto;
}
#start-game:hover:enabled {
    background-color: #d62056;
    cursor: url('https://i.postimg.cc/br0HSkkW/sg-pointer.png') 16 16, auto;
}  