body {
    margin: 0;
    background: #101010;
    font-family: "Lato";
}
.rendered {
    background-image: url('./assets/circuit-board.webp');
}
.rendered h1 {
    color:#f0f0f0;
}
#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: "50%";
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
h1 {
    color: #101010;
    margin-top: 20rem;
    font-size: 16rem;
    user-select: none;
}
#three-canvas {
    position: fixed;
    opacity: "50%";
    top: 0;
    left: 0;
}